{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">
	<style type="text/css">
		body{
			background-image: url({% static 'images/project.jpg' %});
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<body>
	<h2>Registration Form</h2>
	<form method="POST">
		{% csrf_token %}
		<input type="text" name="uname" placeholder="Enter your username"><br><br>
		<input type="email" name="em" placeholder="Enter your Email"><br><br>
		<input type="number" name="mbl" placeholder="Enter your mobile no"><br><br>
		<input type="password" name="psw" placeholder="Enter your password"><br><br>
		<input type="password" name="cpsw" placeholder="Enter your confirm password"><br><br>

		<button>Register</button>
	</form>
	<img src="{% static 'images/logo-p.png' %}">
</body>
</html>